/* ! contact */

.contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: rgb(254, 254, 254);
  max-width: 55rem;
  padding: 1rem;
  border-radius: 1rem;
  column-gap: 3rem;
}

.contacts:hover {
  cursor: pointer;
}

.contact-left {
  text-align: justify;
  justify-content: center;
  max-width: 28rem;

  h1 {
    color: #132238;
    font-weight: 400;
    font-size: 1.5rem;
    margin-block: 1rem;
  }

  p {
    color: gray;
    font-size: 0.75rem;
    max-width: 20rem;
  }
}

.contact {
  display: flex;
  margin-block: 1rem;
  cursor: pointer;
  padding: 0.75rem;
  width: 17rem;

  img {
    width: 2rem;
    background-color: #ff595a14;
    border-radius: 0.25rem;
  }

  .content {
    margin-left: 0.7rem;
  }

  h5 {
    font-size: 0.7rem;
    font-weight: 400;
    color: #424e60;
  }

  p {
    color: #132238;
    margin-top: 0.25rem;
  }
}

.location {
  img {
    width: 2rem;
    background-color: #ff595a14;
    border-radius: 0.25rem;
    padding: 0.4rem;
  }
}

.phone {
  img {
    height: 2rem;
    padding: 0.3rem;
  }
}

.contact:hover {
  background-color: var(--white-color);
  border: 1px solid transparent;
  box-shadow: 0px 0px 5px 2px rgba(169, 169, 169, 0.274);
  border-radius: 0.5rem;
}

/* contact-right */

.contact-right {
  display: flex;
  flex-direction: column;

  input {
    outline: transparent;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: 1.5px solid #e6e8eb;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }
}

.contact-right ::placeholder {
  font-size: 1rem;
  @apply bg-gradient-to-r from-yellow-300 to-slate-900 bg-clip-text text-transparent;
}

.contact-right input:focus {
  border-bottom: 2px solid #ffd700;

  &::placeholder {
    font-size: 1rem;
    color: #ffd700;
  }
}

.contact-right button {
  border: transparent;
  padding: 0.5rem 1rem;
  margin-block: 1rem;
  width: 6rem;
  font-weight: 500;
  border-radius: 0.4rem;
  background-color: var(--orange-color);
  color: var(--white-color);
  box-shadow: 0px 2px 5px 1px var(--orange-color);
  transform: skew(-5deg);
  cursor: pointer;
}

.contact:hover {
  transform: scale(110%);
}
