.heading {
  @apply relative;

  h1 {
    @apply text-transparent text-6xl sm:text-8xl font-extrabold;
    -webkit-text-stroke: 1px rgba(124, 124, 124, 0.444);
    text-align: center;
  }

  h4 {
    @apply absolute left-1/2 bottom-[-0.2rem] sm:bottom-[0.1rem] font-extrabold text-nowrap text-2xl sm:text-4xl;
    transform: translateX(-50%) translateY(-50%);
  }
}
.li-aside {
  font-size: 1.1em;
  background-color: #000000;
  color: #fff;
  background: rgba(0, 0, 0, 0.175);
  cursor: pointer;
  @apply sm:mb-[7rem];
}

.li-aside span {
  color: white;
  font-size: 1rem;
}

.li-aside:hover span {
  font-size: 1em;
}

aside img {
  @apply w-4;
}

.ico {
  transition: all cubic-bezier(1, 0, 0, 1);
}

//top

.top {
  background-image: url(../../assets/img/BG-line-design.svg);
  background-position: center;
  background-color: #ffdf273b;
}

// service

.os {
  @apply h-12 w-12 rounded-full bg-black   absolute top-[-1.55rem] left-[6.75rem] overflow-hidden;
}
.ls {
  @apply h-12 w-12 rounded-full bg-black  absolute top-[-1.55rem] left-[42.5%] overflow-hidden;
}

// Croped image

.hiw-img1 {
  background-image: url(../../assets/img/htw-1.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.hiw-img2 {
  background-image: url(../../assets/img/htw-2.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.hiw-img3 {
  background-image: url(../../assets/img/htw-3.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

//footer text

.f-text {
  @apply bg-gradient-to-r from-yellow-300 to-yellow-500 bg-clip-text text-transparent;
}
