* {
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.heading {
  @apply relative;

  h1 {
    @apply text-transparent text-6xl sm:text-8xl font-extrabold;
    -webkit-text-stroke: 1px rgba(124, 124, 124, 0.444);
    text-align: center;
  }

  h4 {
    @apply absolute left-1/2 bottom-[-0.2rem] sm:bottom-[0.1rem] font-extrabold text-nowrap text-2xl sm:text-4xl;
    transform: translateX(-50%) translateY(-50%);
    // background: #1090cb2b;
  }
}
.li-aside {
  font-size: 1.1em;
  background-color: #000000;
  color: #fff;
  background: rgba(0, 0, 0, 0.175);
  cursor: pointer;
  @apply sm:mb-[7rem];
  // margin-bottom: 7rem;
}

.li-aside span {
  color: white;
  font-size: 1rem;
  // margin-top: 0.45rem;
}

.li-aside:hover span {
  font-size: 1em;
}

.li-aside:hover .ico {
  // transform: rotate(360deg);
  // display: none;
}

aside img {
  @apply w-4;
}

.ico {
  transition: all cubic-bezier(1, 0, 0, 1);
}

//top

.top {
  background-image: url(../../assets/img/BG-line-design.svg);
  background-position: center;
  background-color: #ffdf273b;
}

// service

.os {
  @apply h-12 w-12 rounded-full bg-black   absolute top-[-1.55rem] left-[6.75rem] overflow-hidden;
}
.ls {
  @apply h-12 w-12 rounded-full bg-black  absolute top-[-1.55rem] left-[42.5%] overflow-hidden;
}

/* ! contact */

.contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: rgb(254, 254, 254);
  max-width: 55rem;
  padding: 1rem;
  border-radius: 1rem;
  column-gap: 3rem;
}

.contacts:hover {
  cursor: pointer;
}

.contact-left {
  text-align: justify;
  justify-content: center;
  max-width: 28rem;

  h1 {
    color: #132238;
    font-weight: 400;
    font-size: 1.5rem;
    margin-block: 1rem;
  }

  p {
    color: gray;
    font-size: 0.75rem;
    max-width: 20rem;
  }
}

.contact {
  display: flex;
  margin-block: 1rem;
  cursor: pointer;
  padding: 0.75rem;
  width: 17rem;

  img {
    width: 2rem;
    background-color: #ff595a14;
    border-radius: 0.25rem;
  }

  .content {
    margin-left: 0.7rem;
  }

  h5 {
    font-size: 0.7rem;
    font-weight: 400;
    color: #424e60;
  }

  p {
    color: #132238;
    margin-top: 0.25rem;
  }
}

.location {
  img {
    width: 2rem;
    background-color: #ff595a14;
    border-radius: 0.25rem;
    padding: 0.4rem;
  }
}

.phone {
  img {
    height: 2rem;
    padding: 0.3rem;
  }
}

.contact:hover {
  background-color: var(--white-color);
  border: 1px solid transparent;
  box-shadow: 0px 0px 5px 2px rgba(169, 169, 169, 0.274);
  border-radius: 0.5rem;
}

/* contact-right */

.contact-right {
  display: flex;
  flex-direction: column;

  input {
    outline: transparent;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: 1.5px solid #e6e8eb;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }
}

.contact-right ::placeholder {
  font-size: 1rem;
  @apply bg-gradient-to-r from-yellow-300 to-slate-900 bg-clip-text text-transparent;
}

.contact-right input:focus {
  border-bottom: 2px solid #ffd700;

  &::placeholder {
    font-size: 1rem;
    color: #ffd700;
  }
}

.contact-right button {
  border: transparent;
  padding: 0.5rem 1rem;
  margin-block: 1rem;
  width: 6rem;
  font-weight: 500;
  border-radius: 0.4rem;
  background-color: var(--orange-color);
  color: var(--white-color);
  box-shadow: 0px 2px 5px 1px var(--orange-color);
  transform: skew(-5deg);
  cursor: pointer;
}

.contact:hover {
  transform: scale(110%);
}

// Croped image

.hiw-img1 {
  background-image: url(../../assets/img/htw-1.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.hiw-img2 {
  background-image: url(../../assets/img/htw-2.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.hiw-img3 {
  background-image: url(../../assets/img/htw-3.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

//footer text

.f-text {
  @apply bg-gradient-to-r from-yellow-300 to-yellow-500 bg-clip-text text-transparent;
}

//web kit

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-200 rounded-md;
}

::-webkit-scrollbar-track {
  @apply bg-yellow-50 rounded-md;
}

//media query

@media (max-width: 1000px) {
}
