<!-- <header
  class="flex justify-around items-center bg-black text-white fixed z-10 bottom-0 w-full sm:hidden"
>
  <img src="../../assets/img/Gold Logo.png" alt="logo" class="my-5 w-[3rem]" />
  <hr class="border border-dashed border-gray-700" />
  <span
    class="rotate-180 w-[0.1rem] h-14 border border-dashed border-gray-600"
  ></span>

  <p class="li-aside flex">
    <img class="ico w-10" src="../../assets/img/service-logo.svg" alt="pic" />
    <span>service</span>
  </p>
  <p class="li-aside flex">
    <img class="ico" src="" alt="pic" />
    <span>About</span>
  </p>
  <p class="li-aside flex">
    <img class="ico" src="" alt="pic" />
    <span>Blog</span>
  </p>
  <p class="li-aside flex">
    <img class="ico" src="" alt="pic" />
    <span>Contact</span>
  </p>
</header> -->
<main class="flex w-full overflow-y-hidden bg-white">
  <!-- side menu -->
  <aside
    class="hidden sm:flex flex-col h-screen w-screen min-w-[10rem] max-w-[10rem] bg-black text-white p-4"
  >
    <div class="flex justify-center items-center my-5">
      <img class="!w-24 px-4" src="../../assets/img/Gold Logo.png" alt="logo" />
    </div>
    <hr class="mb-10 border border-dashed border-gray-700" />
    <div>
      <ul class="flex flex-col flex-nowrap text-nowrap items-center">
        <!-- service -->
        <li class="li-aside gap-x-3 flex">
          <img
            class="ico"
            src="../../assets/img/briefcase-icon.svg"
            alt="pic"
          />
          <span>service</span>
        </li>
        <!-- About -->
        <li class="li-aside gap-x-3 flex">
          <img class="ico" src="../../assets/img/about.svg" alt="pic" />
          <span>About</span>
        </li>
        <!-- blog -->
        <li class="li-aside gap-x-3 flex">
          <img class="ico" src="../../assets/img/blog.svg" alt="pic" />
          <span>Blog</span>
        </li>
        <!-- contact -->
        <li class="li-aside gap-x-3 flex">
          <img class="ico" src="../../assets/img/contact.svg" alt="pic" />
          <span>Contact</span>
        </li>
      </ul>
    </div>
  </aside>

  <main
    class="h-screen w-screen flex flex-col justify-between overflow-y-scroll overflow-x-hidden"
  >
    <!-- top -->
    <section
      class="top flex flex-wrap justify-around items-center bg-gradient-to-r from-amber-100 to-yellow-200 shadow-xl shadow-gray-300"
    >
      <div class="relative text-center text-3xl text-gray-800 italic">
        <img src="../../assets/img/bell_2 1.svg" alt="" />
        <p class="text-3xl sm:text-4xl font-extrabold mb-2">
          ZAHA DIGITAL SOLUTIONS
        </p>
        <P>Empowering Your Business, Simplifying Compliance.</P>
        <P> Digital and Legal Solutions, All in One Place.</P>
      </div>
      <img class="w-[50%]" src="../../assets/img/first-img.svg" alt="" />
    </section>

    <!-- Services Section -->
    <section id="services" class="py-12">
      <div class="container mx-auto text-center">
        <div class="heading">
          <h1>SERVICE</h1>
          <h4>OUR SERVICE</h4>
        </div>

        <!-- Digital Services -->
        <div class="flex flex-row flex-wrap justify-center items-center mb-12">
          <h3 class="text-3xl font-bold mb-8 mt-2">Digital Services</h3>
          <!-- <div class="heading">
            <h1 class="!text-3xl mb-8 mt-2">Digital Services</h1>
          </div> -->
          <div class="flex flex-wrap justify-center gap-8">
            <!-- google service -->
            <div class="bg-white rounded-lg p-6 shadow-md w-64 relative">
              <!-- img -->
              <div class="os">
                <img
                  class=""
                  src="../../assets/img/service img/Google Business.webp"
                  alt=""
                />
              </div>
              <!-- content -->
              <h4 class="text-xl font-semibold my-2">
                Google Business Account Customization
              </h4>
              <p class="text-gray-700">
                Customization of your Google business account to enhance
                visibility.
              </p>
            </div>

            <!-- logo design -->
            <div class="bg-white rounded-lg p-6 shadow-md w-64 relative">
              <!-- img -->
              <div class="os">
                <img
                  class=""
                  src="../../assets/img/service img/Logo Design.webp"
                  alt=""
                />
              </div>
              <!-- content -->
              <h4 class="text-xl font-semibold mb-2">Logo Design</h4>
              <p class="text-gray-700">
                Professional logo design to represent your brand.
              </p>
            </div>

            <!-- social-media -->
            <div class="bg-white rounded-lg p-6 shadow-md w-64 relative">
              <!-- img -->
              <div class="os">
                <img
                  class=""
                  src="../../assets/img/service img/Social Media Marketing.webp"
                  alt=""
                />
              </div>
              <!-- content -->
              <h4 class="text-xl font-semibold mb-2">Social Media Marketing</h4>
              <p class="text-gray-700">
                Comprehensive marketing on Facebook, Instagram, and WhatsApp.
              </p>
            </div>

            <!-- webSite Design -->
            <div class="bg-white rounded-lg p-6 shadow-md w-64 relative">
              <!-- img -->
              <div class="os">
                <img
                  class=""
                  src="../../assets/img/service img/Website Design.webp"
                  alt=""
                />
              </div>
              <!-- content -->
              <h4 class="text-xl font-semibold mb-2">Website Design</h4>
              <p class="text-gray-700">
                Custom website design tailored to your business needs.
              </p>
            </div>

            <!-- seo -->
            <div class="bg-white rounded-lg p-6 shadow-md w-64 relative">
              <!-- img -->
              <div class="os">
                <img
                  class=""
                  src="../../assets/img/service img/SEO.webp"
                  alt=""
                />
              </div>
              <!-- content -->
              <h4 class="text-xl font-semibold mb-2">SEO</h4>
              <p class="text-gray-700">
                Search Engine Optimization services for improved online
                visibility.
              </p>
            </div>

            <!-- app Developer -->
            <div class="bg-white rounded-lg p-6 shadow-md w-64 relative">
              <!-- img -->
              <div class="os">
                <img
                  class=""
                  src="../../assets/img/service img/App.webp"
                  alt=""
                />
              </div>
              <!-- content -->
              <h4 class="text-xl font-semibold mb-2">App Development</h4>
              <p class="text-gray-700">
                Customized application development for your business needs.
              </p>
            </div>

            <!-- Digital Service -->
            <div class="bg-white rounded-lg p-6 shadow-md w-64 relative">
              <!-- img -->
              <div class="os">
                <img
                  class=""
                  src="../../assets/img/service img/Digital Package.webp"
                  alt=""
                />
              </div>
              <!-- content -->
              <h4 class="text-xl font-semibold mb-2">Digital Package</h4>
              <p class="text-gray-700">
                Bundle of Google Business Account Customization, Logo Design,
                and Social Media Marketing.
              </p>
            </div>
            <!-- Add more services as needed -->
          </div>
        </div>

        <!-- Legal Services -->
        <div class="">
          <h3 class="text-3xl font-bold mb-10">Legal Services</h3>
          <div class="flex flex-wrap justify-center gap-8">
            <!-- GST -->
            <div class="bg-white rounded-lg p-6 shadow-md relative">
              <!-- img -->
              <div class="ls">
                <img
                  class=""
                  src="../../assets/img/service img/GST.webp"
                  alt=""
                />
              </div>
              <!-- content -->
              <h4 class="text-xl font-semibold mb-2">
                GST (Registration, Return)
              </h4>
              <p class="text-gray-700">
                GST registration and return filing services.
              </p>
            </div>

            <!-- MSME -->
            <div class="bg-white rounded-lg p-6 shadow-md relative">
              <!-- img -->
              <div class="ls !left-[44.5%]">
                <img
                  class=""
                  src="../../assets/img/service img/MSME.webp"
                  alt=""
                />
              </div>
              <!-- content -->
              <h4 class="text-xl font-semibold mb-2">MSME Registration</h4>
              <p class="text-gray-700">
                Registration under the Micro, Small and Medium Enterprises Act.
              </p>
            </div>

            <!-- Pan Card -->
            <div class="bg-white rounded-lg p-6 shadow-md relative">
              <!-- img -->
              <div class="ls">
                <img
                  class=""
                  src="../../assets/img/service img/PAN.webp"
                  alt=""
                />
              </div>
              <!-- content -->
              <h4 class="text-xl font-semibold mb-2">Pan Card Services</h4>
              <p class="text-gray-700">Assistance in obtaining PAN cards.</p>
            </div>

            <!-- Import & Export -->
            <div class="bg-white rounded-lg p-6 shadow-md relative">
              <!-- img -->
              <div class="ls">
                <img
                  class=""
                  src="../../assets/img/service img/Import Export.webp"
                  alt=""
                />
              </div>
              <!-- content -->
              <h4 class="text-xl font-semibold mb-2">Import Export Code</h4>
              <p class="text-gray-700">
                Assistance in obtaining Import Export Code.
              </p>
            </div>

            <!-- Fssai -->
            <div class="bg-white rounded-lg p-6 shadow-md relative">
              <!-- img -->
              <div class="ls">
                <img
                  class=""
                  src="../../assets/img/service img/FSSAI.webp"
                  alt=""
                />
              </div>
              <!-- content -->
              <h4 class="text-xl font-semibold mb-2">FSSAI</h4>
              <p class="text-gray-700">
                FSSAI registration and compliance services.
              </p>
            </div>

            <!-- Shop Lience -->
            <div class="bg-white rounded-lg p-6 shadow-md relative">
              <!-- img -->
              <div class="ls !left-[44.5%]">
                <img
                  class=""
                  src="../../assets/img/service img/Trade Shop.webp"
                  alt=""
                />
              </div>
              <!-- content -->
              <h4 class="text-xl font-semibold mb-2">
                Municipality Trade/Shop Licence
              </h4>
              <p class="text-gray-700">
                Assistance in obtaining trade/shop licenses from the
                municipality.
              </p>
            </div>

            <!-- Income Tax -->
            <div class="bg-white rounded-lg p-6 shadow-md relative">
              <!-- img -->
              <div class="ls left-[8.75rem]">
                <img
                  class=""
                  src="../../assets/img/service img/Tax.webp"
                  alt=""
                />
              </div>
              <!-- content -->
              <h4 class="text-xl font-semibold mb-2">
                Income Tax Return Filing
              </h4>
              <p class="text-gray-700">
                Assistance in filing income tax returns.
              </p>
            </div>

            <!-- Balance Sheet Preparation -->
            <div class="bg-white rounded-lg p-6 shadow-md relative">
              <!-- img -->
              <div class="ls left-[10.5rem]">
                <img
                  class=""
                  src="../../assets/img/service img/Balance Sheet.webp"
                  alt=""
                />
              </div>
              <!-- content -->
              <h4 class="text-xl font-semibold mb-2">
                Balance Sheet Preparation
              </h4>
              <p class="text-gray-700">
                Preparation of balance sheets for your business.
              </p>
            </div>

            <!-- Jewellery Licence -->
            <div class="bg-white rounded-lg p-6 shadow-md relative">
              <!-- img -->
              <div class="ls left-[42.5%]">
                <img
                  class=""
                  src="../../assets/img/service img/Jewellery.webp"
                  alt=""
                />
              </div>
              <!-- content -->
              <h4 class="text-xl font-semibold mb-2">BIS Jewellery Licence</h4>
              <p class="text-gray-700">
                Assistance in obtaining BIS jewellery license.
              </p>
            </div>

            <!-- Legal Package -->
            <div class="bg-white rounded-lg p-6 shadow-md relative">
              <!-- img -->
              <div class="ls !left-[44.5%]">
                <img
                  class=""
                  src="../../assets/img/service img/Legal Package.webp"
                  alt=""
                />
              </div>
              <!-- content -->
              <h4 class="text-xl font-semibold mb-2">Legal Package</h4>
              <p class="text-gray-700">
                Bundle of GST Registration, MSME Registration, FSSAI, and
                Municipality Trade/Shop Licence.
              </p>
            </div>
            <!-- Add more services as needed -->
          </div>
        </div>
      </div>
    </section>

    <!-- About Us Section -->
    <section id="about" class="bg-yellow-100 py-12">
      <div class="heading">
        <h1>ABOUT</h1>
        <h4>ABOUT US</h4>
      </div>
      <div class="flex justify-center p-4 items-center flex-wrap">
        <img src="../../assets/img/web-development 1.svg" alt="" />
        <div class="max-w-md">
          <p class="mb-4 flex flex-col justify-center items-cen text-justify">
            At Zaha & Digital Solutions, we understand the challenges business
            owners face in juggling digital and legal responsibilities alongside
            their core operations. Founded by a duo with over a decade of
            combined expertise in digital marketing, development, and legal
            services, our goal is to streamline these complex processes,
            allowing you to focus on what you do best—running your business.
          </p>
          <p class="mb-4 text-justify">
            With experience spanning digital strategies and legal compliance, we
            equip our clients with the tools and support necessary to thrive in
            a competitive marketplace. Whether enhancing your online presence
            through customized digital solutions or navigating regulatory
            requirements with our comprehensive legal services, we are here to
            ensure that your operational needs are met efficiently and
            effectively.
          </p>
          <p class="mb-4 text-justify">
            At Zaha & Digital Solutions, your business success is our priority.
            We take pride in being the behind-the-scenes support that helps you
            grow, innovate, and lead.
          </p>
        </div>
      </div>
    </section>

    <!-- How It Works Section -->
    <section class="py-12">
      <div class="flex flex-col justify-center items-center p-4">
        <div class="container mx-auto text-center">
          <div class="heading">
            <h1>WORK</h1>
            <h4 class="!text-xl sm:!text-3xl !bottom-1">HOW IT WORK</h4>
          </div>
        </div>
        <div class="flex flex-col justify-center items-center gap-8">
          <!-- one htw -->
          <div
            class="flex items-center justify-center flex-col md:flex-row gap-4"
          >
            <div
              class="hiw-img1 w-[19rem] h-[13rem] mx-2 mt-6 md:w-[20rem] bg-black p-20 rounded-2xl shadow-xl shadow-black-300"
            ></div>
            <div class="max-w-[25rem] text-justify px-2">
              <p class="text-lg text-nowrap sm:text-2xl font-extrabold my-2">
                Consultation and Customization:
              </p>
              <p class="text-gray-800">
                Your journey with us begins with a comprehensive consultation
                where we discuss your business needs and challenges. Based on
                this discussion, we tailor a unique blend of digital and legal
                solutions that align with your business goals and operational
                requirements.
              </p>
            </div>
          </div>

          <!-- two htw -->
          <div
            class="flex flex-col-reverse md:flex-row items-center justify-center gap-6"
          >
            <div class="max-w-[25rem] text-justify px-2">
              <p class="text-lg sm:text-2xl font-extrabold my-2">
                Implementation and Execution:
              </p>
              <p class="text-gray-800">
                Once we have identified the optimal solutions, our team of
                experts gets to work. We handle everything from setting up your
                Google business account and designing your website to handling
                legal registrations and compliance. Our seamless execution
                ensures that all aspects of your digital and legal setup are
                managed without disrupting your daily operations.
              </p>
            </div>
            <div
              class="hiw-img2 w-[19rem] h-[13rem] mx-2 mt-6 md:w-[20rem] bg-black p-20 rounded-2xl shadow-xl shadow-black-300"
            ></div>
          </div>

          <!-- three htw -->
          <div
            class="flex items-center justify-center flex-col md:flex-row gap-4"
          >
            <div
              class="hiw-img3 w-[19rem] h-[13rem] mx-2 mt-6 md:w-[20rem] bg-black p-20 rounded-2xl shadow-xl shadow-black-300"
            ></div>
            <div class="max-w-[25rem] px-2">
              <p class="text-lg sm:text-2xl font-extrabold my-2">
                Ongoing Support and Optimization:
              </p>
              <p class="text-gray-800 text-justify">
                After implementation, we continue to support your business by
                monitoring the performance of digital strategies and ensuring
                legal compliance is up to date. We provide regular updates and
                optimizations to adapt to new trends and regulations, keeping
                your business ahead of the curve and continuously improving.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Portfolio Section -->
    <!-- <section id="portfolio" class="bg-gray-100 py-12">
      <div class="container mx-auto text-center">
        <h2 class="text-3xl font-bold mb-6">Portfolio</h2>
        <p class="text-lg text-gray-700 mb-8">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
          <div class="bg-white rounded-lg p-6 shadow-md">
            <img
              src="portfolio-1.jpg"
              alt="Portfolio 1"
              class="w-full h-auto rounded-lg mb-4"
            />
            <h3 class="text-xl font-semibold mb-2">Project Title</h3>
            <p class="text-gray-700">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
          </div>
          <div class="bg-white rounded-lg p-6 shadow-md">
            <img
              src="portfolio-2.jpg"
              alt="Portfolio 2"
              class="w-full h-auto rounded-lg mb-4"
            />
            <h3 class="text-xl font-semibold mb-2">Project Title</h3>
            <p class="text-gray-700">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
          </div>
          <div class="bg-white rounded-lg p-6 shadow-md">
            <img
              src="portfolio-3.jpg"
              alt="Portfolio 3"
              class="w-full h-auto rounded-lg mb-4"
            />
            <h3 class="text-xl font-semibold mb-2">Project Title</h3>
            <p class="text-gray-700">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
          </div>
        </div>
      </div>
    </section> -->

    <!-- Contact Section -->
    <section class="!bg-yellow-100 p-4">
      <div class="heading">
        <h1>CONTACT</h1>
        <h4>CONTACT US</h4>
      </div>
      <div class="contacts flex-col md:flex-row !bg-yellow-50">
        <div class="contact-left">
          <h1>Let’s discuss your Project</h1>
          <p>
            There are many variations of passages of Lorem Ipsu available. but
            the majority have suffered alte.
          </p>

          <!-- mail -->
          <div class="contact email">
            <img src="../../assets/img/email.svg" alt="" />
            <div class="content">
              <h5>My Email:</h5>
              <p>Abdulmusavir8888gmail.com</p>
            </div>
          </div>
          <!-- location -->
          <div class="contact location">
            <img class="" src="../../assets/img/location.svg" alt="" />
            <div class="content">
              <h5>Address:</h5>
              <p>Nagapattinam District ,TamilNadu</p>
            </div>
          </div>
          <!-- phone -->
          <div class="contact phone">
            <img src="../../assets/img/phone.svg" alt="" />
            <div class="content">
              <h5>Call Me Now:</h5>
              <p>+91 867 896 6685</p>
            </div>
          </div>
        </div>

        <!-- contact-right -->
        <div class="contact-right">
          <input type="text" placeholder="Name*" />
          <input type="text" placeholder="Email*" />
          <input type="text" placeholder="Location" />
          <div>
            <input type="text" placeholder="budget*" />
            <input type="text" placeholder="subject*" />
          </div>
          <input type="text" placeholder="Message*" />

          <button class="bg-gradient-to-r from-yellow-300 to-yellow-100">
            Submit
          </button>
        </div>
      </div>
    </section>

    <!-- footer -->
    <footer
      class="flex flex-wrap justify-between items-center bg-black textwh pb-12 p-8"
    >
      <div class="flex gap-x-2 cursor-pointer">
        <p class="f-text">About</p>
        <p class="f-text">Service</p>
        <p class="f-text">Blog</p>
        <p class="f-text">Contact</p>
      </div>
      <div>
        <img class="w-[5rem]" src="../../assets/img/Gold Logo.png" alt="" />
      </div>
      <div>
        <h1 class="f-text">Copyright © 2024 zaha</h1>
      </div>
    </footer>
  </main>
</main>
